* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Uni-Sans";
  src: local("Uni-Sans"),
    url(../src/fonts/uni-sans.heavy-caps.otf) format("truetype");
}

@font-face {
  font-family: "whitney";
  src: local("whitney"), url(../src/fonts/whitneymedium.otf) format("truetype");
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.gifContainer {
  background-color: #40444b00;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 3px 5px 15px -4px rgba(0, 0, 0, 0.7);
}

.gifForm > input {
  color: #fff;
  background-color: #40444b;
  font-family: whitney;
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid #656c79;
  display: flex;
  width: 485px;
}

.gifList {
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 10px;
}
.reactGiphySearchbox-listWrapper {
  border-radius: 10px !important;
  background-color: #40444b;
}
